<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{64} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="de.calamanari.pk.abstractfactory" level="INFO"/>
    <logger name="de.calamanari.pk.activeobject" level="INFO"/>
    <logger name="de.calamanari.pk.adapter" level="INFO"/>
    <logger name="de.calamanari.pk.bridge" level="INFO"/>
    <logger name="de.calamanari.pk.builder" level="INFO"/>
    <logger name="de.calamanari.pk.coarsegrainedlock" level="INFO"/>
    <logger name="de.calamanari.pk.combinedmethod" level="INFO"/>
    <logger name="de.calamanari.pk.command" level="INFO"/>
    <logger name="de.calamanari.pk.commandprocessor" level="INFO"/>
    <logger name="de.calamanari.pk.composite" level="INFO"/>
    <logger name="de.calamanari.pk.datatransferobject" level="INFO"/>
    <logger name="de.calamanari.pk.decorator" level="INFO"/>
    <logger name="de.calamanari.pk.dependencyinjection" level="INFO"/>
    <logger name="de.calamanari.pk.facade" level="INFO"/>
    <logger name="de.calamanari.pk.factorymethod" level="INFO"/>
    <logger name="de.calamanari.pk.flyweight" level="INFO"/>
    <logger name="de.calamanari.pk.gateway" level="INFO"/>
    <logger name="de.calamanari.pk.identityfield" level="INFO"/>
    <logger name="de.calamanari.pk.identitymap" level="INFO"/>
    <logger name="de.calamanari.pk.iterator" level="INFO"/>
    <logger name="de.calamanari.pk.lazyload" level="INFO"/>
    <logger name="de.calamanari.pk.mapper" level="INFO"/>
    <logger name="de.calamanari.pk.masterslave" level="INFO"/>
    <logger name="de.calamanari.pk.modelviewcontroller" level="INFO"/>
    <logger name="de.calamanari.pk.money" level="INFO"/>
    <logger name="de.calamanari.pk.muhai" level="INFO"/>
    <logger name="de.calamanari.pk.nullobject" level="INFO"/>
    <logger name="de.calamanari.pk.objectpool" level="INFO"/>
    <logger name="de.calamanari.pk.observer" level="INFO"/>
    <logger name="de.calamanari.pk.optimisticofflinelock" level="INFO"/>
    <logger name="de.calamanari.pk.pessimisticofflinelock" level="INFO"/>
    <logger name="de.calamanari.pk.plugin" level="INFO"/>
    <logger name="de.calamanari.pk.proxy" level="INFO"/>
    <logger name="de.calamanari.pk.registry" level="INFO"/>
    <logger name="de.calamanari.pk.sequenceblock" level="INFO"/>
    <logger name="de.calamanari.pk.servicestub" level="INFO"/>
    <logger name="de.calamanari.pk.singleton" level="INFO"/>
    <logger name="de.calamanari.pk.strategy" level="INFO"/>
    <logger name="de.calamanari.pk.templatemethod" level="INFO"/>
    <logger name="de.calamanari.pk.transferobjectassembler" level="INFO"/>
    <logger name="de.calamanari.pk.util" level="INFO"/>
    <logger name="de.calamanari.pk.uuid" level="INFO"/>
    <logger name="de.calamanari.pk.valueobject" level="INFO"/>
    <logger name="de.calamanari.pk.visitor" level="INFO"/>
    <logger name="de.calamanari.pk.wrapper" level="INFO"/>
    <logger name="de.calamanari.other.ohbf" level="INFO"/>


    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>